<div class="center">
    <h1 class="mat-headline">Welcome, Admin!</h1>
</div>

<mat-tab-group>
    <mat-tab label="Ranking"><app-most-voted></app-most-voted></mat-tab>
    <mat-tab label="Users vote"><app-users-vote></app-users-vote></mat-tab>
    <mat-tab label="References">
        <mat-list role="list">
            <a mat-list-item href="https://developer.okta.com/blog/2019/02/28/spring-microservices-docker" target="_blank" role="listitem">Build Spring Microservices and Dockerize Them for Production</a>
            <a mat-list-item href="https://www.springboottutorial.com/spring-boot-and-h2-in-memory-database" target="_blank" role="listitem">Spring Boot and H2 in memory database - Why, What and How?</a>
            <a mat-list-item href="https://www.danvega.dev/blog/2017/07/05/read-json-data-spring-boot-write-database/" target="_blank" role="listitem">HOW TO READ JSON DATA IN SPRING BOOT AND WRITE TO A DATABASE</a>
            <a mat-list-item href="https://javacodehouse.com/blog/mockito-tutorial/" target="_blank" role="listitem">Mockito Tutorial (A comprehensive guide with examples)</a>
            <a mat-list-item href="https://dzone.com/articles/deploying-spring-boot-microservice-to-docker-a-qui" target="_blank" role="listitem">Deploying a Spring Boot Microservice to Docker: A Quick Guide</a>
            <a mat-list-item href="https://material.angular.io/components/categories" target="_blank" role="listitem"> Angular Material Components guide</a>
            <a mat-list-item href="https://angular.io/start/forms" target="_blank" role="listitem"> Angular Forms guide</a>
            <a mat-list-item href="https://stackoverflow.com/questions/46768773/how-to-set-maximum-limit-of-checked-elements-in-md-selection-list-angular2" target="_blank" role="listitem">How to set maximum limit of checked elements list</a>
            <a mat-list-item href="https://stackblitz.com/edit/angular-material-yggqi9?file=app%2Fapp.component.html" target="_blank" role="listitem">Checked list example </a>
            <a mat-list-item href="https://stackoverflow.com/questions/27767264/how-to-dockerize-maven-project-and-how-many-ways-to-accomplish-it" target="_blank" role="listitem">How to dockerize maven project?</a>
            <a mat-list-item href="https://www.codementor.io/@yomateo/angular-docker-dockerize-your-app-in-5-minutes-video-included-oohw2mzuj" target="_blank" role="listitem">Angular + Docker: Dockerize your app in 5 minutes!</a>
        </mat-list>
    </mat-tab>
</mat-tab-group>